<nav class="navbar navbar-defualt">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Home</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Projects</a></li>
                <li><a href="#">Resume</a></li>
                <li><a href="#">Courses</a></li>
                <li><a href="#">Contact Me</a></li>
            </ul>
        </div>
    </div>
 </nav>