
.navbar {
    background-color: aliceblue; 
    border: none;
    border-radius: 0;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    color: black; 
}

.navbar-nav > li > a {
    font-size: 18px;
    font-weight: bold;
    color: black; 
    padding: 10px 15px;
    transition: color 0.3s ease;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    color: black; 
}

