.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: #d1e2dd;
    
}
.navbar.navbar-default nav.navbar-nav.navbar-right > li > a {
    font-size: 25px;
    font-weight: bold;
    color: #d1e2dd;
}
