.courses-container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .section-title {
    text-align: center;
  }
  
  .course {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .course-header {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .course-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .course-details {
    flex-grow: 1;
  }
  
  .course-title {
    font-size: 20px;
    margin-bottom: 5px;
  }
  
  .course-description {
    font-size: 14px;
    color: #555;
  }
  