<!-- youtube-gallery.component.html -->
<br>
<br>

<div class="container cool-container">
    <h1 style="text-align: center;">Projects</h1>
</div>

<div class="video-container">
    <div class="video-item">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pjydZ48whs0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <div class="video-description">
        <h3>Hello World!</h3>
        <p>
          A UI-centric app that leverages the power of Figma in order to allow dyslexic kids to learn the basics of coding. 
        </p>
        <p class="frameworks-used">
          Frameworks Used: Figma
        </p>
      </div>
    </div>
    <div class="video-item">
      <iframe src="https://www.youtube.com/embed/VIDEO_ID_2" frameborder="0" allowfullscreen></iframe>
      <div class="video-description">
        <h3>Video Title 2</h3>
        <p>
          This is a description of the second video on YouTube. It highlights the utilization of Framework C and Framework D to enhance the functionality.
        </p>
        <p class="frameworks-used">
          Frameworks Used: Framework C, Framework D
        </p>
      </div>
    </div>
    <!-- Add more video items as needed -->
  </div>
  