
<h1 style="text-align: center;">Resume</h1>
<hr>
<h2 class="h2margin">Education</h2>

<div class="container custom-container"
    *ngFor="let work of works"
    [ngStyle]="{
        'border-color': style.borderColor,
        'border-style': style.borderStyle,
        'border-width': style.borderWidth,
        'border-radius': style.borderRadius
    }">

    <div class="row">
        <div class="col-xs-2">
            <p>{{work.imagePath}}</p>
        </div>
        <div class="col-xs-6">
            <p>{{ work.name }}</p>
            <p>{{ work.role}}</p>
        </div>
        <div class="col-xs-4">
            <p>{{work.date}}</p>
            <p>{{ work.location }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>{{work.description}}</p>
        </div>
    </div>
</div>

<h2 class="h2margin">Work Experience</h2>

<div class="container custom-container"
    *ngFor="let experience of experiences"
    [ngStyle]="{
        'border-color': style.borderColor,
        'border-style': style.borderStyle,
        'border-width': style.borderWidth,
        'border-radius': style.borderRadius
    }">
    <div class="row">
        <div class="col-xs-2">
            <p>{{experience.imagePath}}</p>
        </div>
        <div class="col-xs-6">
            <p>{{ experience.name }}</p>
            <p>{{ experience.role}}</p>
        </div>
        <div class="col-xs-4">
            <p>{{experience.date}}</p>
            <p>{{ experience.location }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p>{{experience.description}}</p>
        </div>
    </div>

</div>
