<br>
<br>
<div class="container cool-container">
    <h1 style="text-align: center;">Resume</h1>
</div>

<div class="container cool-container">
    <div class="row">
        <div class="col-xs-8"> 
            <h2>Education</h2>
        </div>
        <div class="col-xs-4 text-right">
            <button class="btn btn-primary">Resume</button>
        </div>
    </div>
</div>


<div class="container custom-container"
    *ngFor="let work of works"
    [ngStyle]="{
        'border-color': style.borderColor,
        'border-style': style.borderStyle,
        'border-width': style.borderWidth,
        'border-radius': style.borderRadius
    }">
    <div class="row">
        <div class="col-xs-2">
            <img src="{{work.imagePath}}" alt="Work Image" class="circular-image">
        </div>
        <div class="col-xs-6">
            <p><strong>{{ work.name }}</strong></p>
            <p>{{ work.role}}</p>
        </div>
        <div class="col-xs-4">
            <p class="text-right"><strong>{{work.date}}</strong></p>
            <p class="text-right">{{ work.location }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li *ngFor="let item of work.description" class="list-format"> {{item}}</li>
            </ul>
        </div>
    </div>
</div>
<div class="container cool-container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Work Experience</h2>
        </div>
    </div>
    </div>

<div class="container custom-container"
    *ngFor="let experience of experiences"
    [ngStyle]="{
        'border-color': style.borderColor,
        'border-style': style.borderStyle,
        'border-width': style.borderWidth,
        'border-radius': style.borderRadius
    }">
    <div class="row">
        <div class="col-xs-2">
            <img src="{{experience.imagePath}}" alt="Experience Image" class="circular-image">
        </div>
        <div class="col-xs-6">
            <p class="fontSize"><strong>{{ experience.name }}</strong></p>
            <p>{{ experience.role}}</p>
        </div>
        <div class="col-xs-4">
            <p class="text-right"><strong>{{experience.date}}</strong></p>
            <p class="text-right">{{ experience.location }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li *ngFor="let item of experience.description" class="list-format"> {{item}}</li>
            </ul>
        </div>
    </div>

</div>
