<div class="gfg">
    <img src="assets/unc.jpeg" class="transparent-image" style="max-width: 100%; height: auto;" alt="UNC image">
    <div class="row">
        <h1 class="textname">Hi, I'm Shreeya Kantamsetty</h1>
        <p class="textp">Computer Science Student at UNC Chapel Hill</p>
        <button class="btn btn-primary" type="button">Click</button>

    </div>
</div>

<div class="container my-container">
    <div class="row">
        <div class="col-md-6 col-md-push-6">
            <div class="text-center">
                <img class="circular img-responsive center-block" src="assets/me.jpeg" alt="Profile Picture">
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6">
            <h1 class="text-center mb-4">About Me</h1>
            <h3>Product Developer</h3>
            <p class="mb-4">Software Engineer</p>
            <p>Web Developer</p>
            <p class="mt-4">Hello, I'm Shreeya, a second-year undergraduate at UNC Chapel Hill pursuing a B.S. in Computer Science with double minors in Statistics and Media and Journalism. My passion lies in web and app development, particularly exploring the intersection of web development and machine learning, as well as text and data mining. As the president and founder of my school's sorority for females in computer science and engineering fields, I aim to foster a supportive community. Outside of school, I enjoy reading, watching movies, and meeting new people.</p>
        </div>
        <div class="col-md-3">
            <h3>Skills</h3>
            <h5>Web Frameworks</h5>
        </div>
    </div>
</div>





