.transparent-image {
    opacity: 0.2;
    filter: brightness(110%);
}
.gfg{
    position: relative;
}
.textname {
    position: absolute;
    bottom: 50%;
    left: 5%;
    font-size: 5vw;

}
.textp {
    position: absolute;
    bottom: 45%;
    left: 5%;
    font-size: 2vw;
    
}

button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: #ccdfd7;
    padding: 1vw 3vw;
    color: #2c293f;
    font-weight: bolder;
    font-size: 1.5vw;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: 4px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container.my-container {
    padding: 20px;
    border-radius: 8px;
}

.circular {
    border-radius: 50%;
    width: 200px;
    height: auto;
    margin-top: 20px;
}

.text-center {
    text-align: center;
}

.mb-4 {
    margin-bottom: 1.5rem;
}

.mt-4 {
    margin-top: 1.5rem;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
