<!-- home.component.html -->

<div class="hero">
    <div class="row align-items-center">
        <div class="col-md-6 text-center">
            <h1>Hi! <span class="wave">👋🏾</span></h1>
            <h1>I'm Shreeya Kantamsetty</h1>
            <h2>Developer/Software Engineer</h2>
            <div class="icon-buttons align-items-center">
                <!-- GitHub Icon -->
                <a class="icon-link" href="https://github.com/skanta04" target="_blank">
                    <img class="siz" src="assets/images/github.png" alt="GitHub">
                </a>
        
                <!-- LinkedIn Icon -->
                <a class="icon-link" href="https://www.linkedin.com/in/shreeya-kantamsetty-093609215/" target="_blank">
                    <img class="siz" src="assets/images/linkedin.png" alt="LinkedIn">
                </a>
        
                <!-- Resume Button -->
                <a class="custom-button" href="assets/Resume2023.pdf" target="_blank">Resume</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="circular-image">
                <img class="img-responsive center-block" src="assets/me.jpeg" alt="Profile Picture">
            </div>
        </div>
    </div>
    <p class="text-center">Welcome to my portfolio website. Check out my projects and feel free to get in touch.</p>
</div>


  
<div class="container my-container">
    <div class="row">
      <div id="aboutMe">
        <h1 class="text-center mb-4">About Me</h1>
        <p class="mt-4">Hello, I'm Shreeya, a second-year undergraduate at UNC Chapel Hill pursuing a B.S. in Computer Science with double minors in Statistics and Media and Journalism. My passion lies in web and app development, particularly exploring the intersection of web development and machine learning, as well as text and data mining. As the president and founder of my school's sorority for females in computer science and engineering fields, I aim to foster a supportive community. Outside of school, I enjoy reading, watching movies, and meeting new people.</p>
      </div>
    </div>
  </div>
  
  <div class="container my-container">
    <div class="row">
        <div id="aboutMe">
            <h1 class="text-center mb-4">Skills</h1>
            <div class="skill-category">
                <h3>Languages</h3>
                <ul>
                    <li>Python</li>
                    <li>Java</li>
                    <li>TypeScript</li>
                    <li>JavaScript</li>
                </ul>
            </div>
    
            <div class="skill-category">
                <h3>Libraries & Frameworks</h3>
                <ul>
                    <li>Angular.JS</li>
                    <li>Bootstrap</li>
                </ul>
            </div>
        </div>
    </div>
  </div>
  





